@import url("https://fonts.googleapis.com/css2?&family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Fredoka", sans-serif;
}

@layer base {
  body {
    @apply select-none;
  }
}

@keyframes pulse-spin {
  0%,
  100% {
    transform: scale(1) rotate(0deg);
    filter: brightness(1);
  }
  50% {
    transform: scale(1.2) rotate(180deg);
    filter: brightness(1.5);
  }
}

.animate-pulse-spin {
  animation: pulse-spin 3s ease-in-out infinite;
}
